.school-safe-wrap {
    margin-left: 12px;
    margin-top: 15px;
    width: 427px;
    border: 1px solid #4b6286;
    color: #fff;
    font-size: 12px;
}

.school-safe-title {
    font-size: 14px;
    color: #fff;
    padding: 5px;
    border: 1px solid #4b6286;
    text-shadow: 0 0 4px #fff;
    text-indent: 10px;
}
.school-safe-title::before {
    content: '';
    display: inline-block;
    border: 2px solid #00dbfd;
    border-radius: 50%;
    transform: translate(-5px, -3px);
    box-shadow: 0 0 4px #73eafd, 0 0 8px #fff;
}
.school-safe {
    display: flex;
}
.school-safe h4 {
    padding: 10px 0 5px;
    color: #25d8f3;
}
.school-safe > *:nth-child(2) {
    flex: 1;
}

.school-safe .recharts-text.recharts-cartesian-axis-tick-value {
    font-size: 8px;
}

