/* -------- 今日用户 -------- */
.today-user-daily-wrap {
    margin-left: 12px;
    width: 402px;
    border: 1px solid #4b6286;
    color: #fff;
}

.today-user-daily-title {
    font-size: 14px;
    color: #fff;
    padding: 5px;
    border: 1px solid #4b6286;
    text-shadow: 0 0 4px #fff;
    text-indent: 10px;
}
.today-user-daily-title::before {
    content: '';
    display: inline-block;
    border: 2px solid #00dbfd;
    border-radius: 50%;
    transform: translate(-5px, -3px);
    box-shadow: 0 0 4px #73eafd, 0 0 8px #fff;
}

ul.today-user-daily {
    width: 415px;
    padding: 0 14px 10px;
    font-size: 12px;
}
ul.today-user-daily li {
    display: inline-flex;
    width: 180px;
    margin: 20px 10px 0 0;
    border-bottom: 1px dashed #4b6286;
    height: 26px;
}
ul.today-user-daily .user-10 {
    margin-left: 10px;
    display: inline-block;
    min-width: 80px;
    margin-bottom: 2px;
}
ul.today-user-daily .label {
    vertical-align: middle;
    display: inline-block;
    line-height: 18px;
}
ul.today-user-daily .user-one {
    width: 11px;
    height: 18px;
    vertical-align: middle;
    display: inline-block;
    line-height: 0;
}

ul.today-user-daily .user-num {
    color: #e1c97e;
    width: 32px;
    font-weight: bold;
    text-align: right;
}

/* -------- 一周考勤正常率 -------- */
.week-normal-rate h3 {
    margin: 10px 12px;
    color: #25d8f3;
    font-size: 12px;
}

.week-normal-rate .recharts-text.recharts-cartesian-axis-tick-value {
    font-size: 10px;
}

.recharts-dot.recharts-line-dot {
    text-shadow: 0 0 6px #b2dbff;
}
